<form class="form-horizontal">
    <fieldset>

        <!-- Form Name -->
        <h3 class="center" style="margin-bottom: 20px;">Modification d'un rôle</h3>

        <!-- Select Basic -->
        <div class="form-group">
            <label class="col-lg-4 control-label paragraph">Utilisateur : </label>
            <div class="col-lg-6">
                <label class="control-label"> {{userSelected.name}} {{userSelected.surname}}</label>
            </div>
        </div>

        <!-- Select Basic -->
        <div class="form-group">
            <label class="col-lg-4 control-label">Projet : </label>
            <div class="col-lg-6">
                <label class="control-label"> {{projSelected.title}}</label>
            </div>
        </div>

        <!-- Text input-->
        <div class="form-group">
            <label class="col-lg-4 control-label" for="role">Rôle </label>
            <div class="col-lg-6">
                <input id="role" name="role" placeholder="" class="form-control" required="" type="text" ng-model="role.name">
            </div>
        </div>

        <!-- Button (Double) -->
        <div class="form-group">
            <div class="col-lg-offset-2 col-lg-8 center">
                <button id="button1id" name="button1id" class="btn btn-primary" ng-click="saveData()">Sauver</button>
                <a href="#/users"><button id="button2id" name="button2id" class="btn">Annuler</button></a>
            </div>
        </div>

    </fieldset>
</form>

