<div class="row">
  <div class="col-lg-offset-1 col-lg-10 panel">
      <p class="center title">
          Annuaire Polytech
      </p>
    <p id="text">
      Sur ce site, vous pouvez rechercher, ajouter, modifier ou supprimer des étudiants de SI3 de l'année 2015 grâce à l'onglet Utilisateurs.<br><br>
      Vous pouvez également afficher les projets auxquels ils participent dans l'onglet Projets. De la même manière, vous pouvez ajoute des projets, les modifier et les supprimer.<br><br>
        Enfin, vous pouvez lier les utilisateurs aux projets grâce aux rôles, et également modifier ou supprimer ces rôles.
    </p>
  </div>
    <p class="imgcenter">
        <img src="images/ang_grunt_yo.png">
    </p>
    <p id="bottom" class="center">
        <br><br>
        Ce site a été réalisé en AngularJS dans le cadre du module POO IHM de Romaric Pighetti.
    </p>
</div>
