<div class="row">
  <div class="col-lg-offset-1 col-lg-10 panel">
    <p class="center title">
      Annuaire Polytech
    </p>
    <p class="center">
      <img src="images/polytech.png">
    </p>
    <p id="text">
      Sur ce site, vous pouvez rechercher, ajouter, modifier ou supprimer des étudiants de SI3 de l'année 2015 grâce à l'onglet Utilisateurs.
      Vous pouvez également afficher les projets auxquels ils participent dans l'onglet Projets.
    </p>
    <p id="bottom">
      <br><br>
      Ce site a été réalisé en AngularJS dans le cadre du module POO IHM de Romaric Pighetti.
    </p>
  </div>
</div>
